.home{
}

.home .slider_home{
	background:url(../../images/home/Jugador_720.jpg) top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:520px;
}
.home .slider_home .bg{
	position:absolute;
	top:0; left:0; right:0; bottom:0;
}

.home h1{
	font-family: Helvetica, Arial, sans-serif; 
	font-weight:bold;
	font-size:50px;
	line-height: 48px;
	width:550px;
  	color: #fff; 
}
.home h2{
	font-family: Helvetica, Arial, sans-serif;
	font-weight:lighter;
	font-size:28px;
	line-height: 28px;
	margin:30px 0;
  	color: #fff; 
	text-shadow: 1px 1px 2px #000;
}
.home h3{
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:24px;
	line-height: 24px;
	margin:30px 0 4px 0;
	width:550px;
  	color: #fff;
	font-style:italic;
}

.home .contenido_slider{
	width:480px;
	text-align:left;
	padding:100px 7px;
}

.home .contenido_slider h1{
	width:480px;
}
.home .contenido_slider h2{
	width:550px;
}

.home .contenido_slider .email_form1{
        font-family: Helvetica, Arial, sans-serif; 
		vertical-align:middle; 
		text-align:center; 
		width:562px; 
		height:85px; 
		position:relative;
		padding:0;
		margin:0 0 30px 0;
	}

.home .contenido_slider .email_form1 .fields{
        font-family: Helvetica, Arial, sans-serif; 
  		margin:0;
		z-index:201; 
		position:absolute; 
		top:0; 
		left:0; 
		width:536px; 
		height:65px;
		padding:13px 10px;
	}
.home .contenido_slider .email_form1 .back{
        font-family: Helvetica, Arial, sans-serif; 
		z-index:200; 
		position:absolute; 
		top:0; left:0; 
		right:0;
		width:562px; 
		height:85px; 
		background:#000; 
		filter:alpha(opacity=40); 
		-moz-opacity:0.4; 
		-khtml-opacity: 0.4;	
		opacity: 0.4;
	}
.home .contenido_slider .email_form1 .field1{
        font-family: Helvetica, Arial, sans-serif; 
		margin:0;
		width:325px; 
		height:40px;
		padding:9px 10px;
		font-size:20px;
		color:#333;
		float:left;
                z-index: 1;
	}
.home .contenido_slider .email_form1 .boton{
    	font-family: Helvetica, Arial, sans-serif; 
        width:178px;
        height:60px;
  	margin-top:-3px;
        display:block;
        float:left;
}

.home .contenido_slider p{
   	font-family: Helvetica, Arial, sans-serif; 
	font-size:18px;
	line-height: 22px; 
	width:430px;
    color: #FFF;
	font-weight:100;
	text-shadow: 1px 1px 1px #000;
}

.home .contenido_slider2{
	margin:30px -5px;
	padding: 30px 3px 1px 12px;
	text-align:center;	
}


