@charset "utf-8";
/* 
 * Squadrapp App
 * Inicialmente para el desarrollo en phonegap
 *
 * 
 */
html, body {
	margin: 0; padding: 0; border: 0; outline: 0; text-decoration:none; height:100%;
}
div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
	margin: 0; padding: 0; border: 0; outline: 0; text-decoration:none; position:relative; 
}
/*
 * ------ JQuery Mobile --------
 * Sobreescribir estilos que estan teniendo conflictos con el diseño
 * de la aplicación.
 * 
 * */
  			
.ui-panel-inner{
	padding: 0;
	margin: 0;
}
body .ui-body-a, body .ui-overlay-a, body .ui-bar-a { 
	text-shadow:0 0 0; 
	background: #FFFFFF;
} 
.ui-page { -webkit-backface-visibility: hidden; }
			
/*---- Fin JQuery Mobile ------*/
/*fonta face*/
@font-face {
    font-family: 'swansearegular';
    src: url('../fonts/swanse__-webfont.eot');
    src: url('../fonts/swanse__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swanse__-webfont.woff') format('woff'),
         url('../fonts/swanse__-webfont.ttf') format('truetype'),
         url('../fonts/swanse__-webfont.svg#swansearegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swanseabold';
    src: url('../fonts/swanse_b-webfont.eot');
    src: url('../fonts/swanse_b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swanse_b-webfont.woff') format('woff'),
         url('../fonts/swanse_b-webfont.ttf') format('truetype'),
         url('../fonts/swanse_b-webfont.svg#swanseabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swansea_italic';
    src: url('../fonts/swanse_i-webfont.eot');
    src: url('../fonts/swanse_i-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swanse_i-webfont.woff') format('woff'),
         url('../fonts/swanse_i-webfont.ttf') format('truetype'),
         url('../fonts/swanse_i-webfont.svg#swansea_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*responsive*/
@media screen and (max-width: 360px) {
	#field_fav .list_info{
		min-width: 50%;
	}
	#fiends-list{
		max-width: 78%;
	}
}
@media screen and (min-width: 361px) and (max-width: 600px) {
	#field_fav .list_info{
		min-width: 70%;
	}
	#fiends-list{
		max-width: 85%;
	}
}

/*Globales*/
body{
	font-family: 'swansearegular', Helvetica, Arial, sans-serif;
}
body [data-role="content"]{
	background-color: #f5f5f5;
}
#header{
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	background: #f5f5f5;
	color: #22262b;
	text-align: center;
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #666;
}
#menu_icon{
	background: url(../images/menu.png) no-repeat;
	background-size: 23px 23px;
	width: 24px;
	height: 24px;
	margin: 5px;
	border: none;
}
#menu_icon:hover{
	background: url(../images/menu.png) no-repeat #f0f0f0;
	background-size: 23px 23px;
}
#menu{
	background:#22262b;
	color: #fff;
}
#nav-user{
	border-bottom: solid 1px #4d4d4d;
}
#nav-user #notificaciones{
	background:url(../images/notificaciones.png) no-repeat 15px 8px;
	background-size: 23px 23px;
	padding: 10px  0 10px 45px;
	display: block;
}
#nav-user #notificaciones a{
	color: #fff;
}
#user-menu{
	border-bottom: solid 1px #4d4d4d;
	padding: 20px 0;
}
#user-menu .image, #fiends-list .image{
	overflow: hidden;
	border-radius: 40px;
	border: solid 1px #fff;
	display: inline-block;
	max-width: 70px;
	max-height: 70px;
	display: inline-block;
	vertical-align: middle;
}
#user-menu .info, #user-menu .arrow{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
#user-menu .info{
	font-size: 0.75em;
	color: #fff;
}
#user-menu .info p:first-child{
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}
#user-menu .arrow{
	background: url(../images/arrow_profile.png) no-repeat;
	background-size: 15px;
	width: 15px;
	height: 25px;
}
#user-menu .image img, #fiends-list .image img{
	width: 70px;
}
nav ul li a{
	color: #fff;
	padding: 10px 0 10px 30px;
	display: block;
	border-bottom: 1px solid #4d4d4d;
	position: relative;
	font-size: 0.85em;
}
nav ul li a span{
	position: absolute;
	right: 20px;
}
#buscar{background: url(../images/buscar_cancha.png) no-repeat 5px; background-size: 20px;}
#reservas{background: url(../images/reservas.png) no-repeat 5px; background-size: 20px;}
#solicitud{background: url(../images/solicitud_reserva.png) no-repeat 5px; background-size: 20px;}
#favoritos{background: url(../images/corazon.png) no-repeat 5px; background-size: 20px;}
#amigos{background: url(../images/amigos_jugadores.png) no-repeat 5px; background-size: 20px;}
#otros{background: url(../images/amigos_jugadores.png) no-repeat 5px; background-size: 20px;}
#configuracion{background: url(../images/ajustes.png) no-repeat 5px; background-size: 20px;}
#footer{
	background: #f5f5f5;
	color: #22262b;
	height: 40px;
	border-top: solid 1px #666; 
}
.red{background-color: #ed1e79; color: #fff;}
#chat_icon{
	background: url(../images/maximizar_chat.png) no-repeat;
	background-size: 50px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -25px;
	border: none;
}
/*sin contenido*/
.null_content{
	display: block;
	margin: 80px auto;
	text-align: center;
}
.null_content img{
	width: 100px;
}
.null_content p{
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	color: #8f8f8f;
	margin: 10px;
}
/*buscador*/
#filter{
	background-image: url(../images/filter_states.png);
	background-size: 28px 56px;
	color: #666;
	background-repeat: no-repeat;
	padding: 0 20px 0;
}
.fl_inactive{
	background-position: 100% 100%;
}
.fl_active{
	background-position: 100% 0;
}
#find{
	background: url(../images/buscador_cancha.png) no-repeat 99% 5px;
	background-size: 25px;
	border: solid 1px #999;
	border-radius: 5px;
	margin: 0;
	font-size: 0.9em;
}
.count_result{
	text-align: center;
	color: #777;
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	background: #f5f5f5;
	font-size: 0.8em;
	padding: 5px;
}
.big_photos{}
.big_photos li{
	position: relative;
	display: block;
	margin: 5px;
}
.big_photos li .imagen{
	overflow: hidden;
}
.big_photos li .imagen img{
	max-width: 100%;
}
.distance, .fav{
	position: absolute;
	color: #fff;
	z-index: 1;
	padding: 5px 0 5px 40px;
	font-size: 0.85em;
	margin: 0 5px 0;
}
.distance{
	background: url(../images/ubicacion_mapa_cancha.png) no-repeat 0 3px;
	background-size: 35px;
}
.fav{
	background-image: url(../images/favoritos.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 30px 60px;
	width: 30px;
	height: 30px;
	right: 10px;
	opacity:0.6;
	padding: 0;
}
.fav:hover{
	background-position: 0 100%;
}
.info{
	display: block;
	font-size: 0.8em;
	color: #666;
	position: relative;
}
.basic{
	margin: 0;
}
.basic , .cost{
	display: inline-block;
}
.basic #name{
	font-size: 1.2em;
}
.cost{
	text-align: right;
	position: absolute;
	right: 0;
}
.cost #value{
	font-size: 1.4em;
}
#buscar_nav{
	display: block;
}
#buscar_nav a{
	color: #666;
	display: block;
	float: left;
	width: 49%;
	text-align: center;
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	padding: 10px 0;
}
#buscar_nav a:hover{
	color: #22b473;
}
#buscar_nav a:first-child{
	border-right: 2px #555 solid;
}
/*list_items_fields*/
.fields_list{

}
.fields_list li{
	display: block;
	font-size: 0.9em;
	border-bottom: solid 1px #ccc;
	position: relative;
}
.list_image{
	width: 60px;
	height: 60px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.list_image img {
	max-height: 60px;
}
.list_info, .fields_list li .arrow{
	display: inline-block;
	vertical-align: middle;
	color: #666;
	padding: 5px;
}
.list_info .name{
	font-size: 1.1em;
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
}
.fields_list li .arrow{
	font-size: 1.6em;
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	position: absolute;
	right: 0;
	top: 15px;
}
/*map*/
#map{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#geolocation{
	position: absolute;
	top: 10px; left: 10px;
	font-size: 14px;
}
/*filtros*/
.aplicarfiltros{
	background: #29abe2;
	color: #fff;
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	text-align: center;
	padding: 10px 0;
}
.aplicarfiltros a{
	color: #fff!important;
}
.filter{
	background: #fff;
	position: relative;
	margin: 0 0 5px;
}
header{
	color: #23262b;
}
header a{
	color: #8f8f8f;
}
.filter_name, .filter_input{
	display: inline-block;
	vertical-align: middle;
	max-height: 53px;
	color: #666;
}
.filter_name_false{
	display: inline-block;
	vertical-align: middle;
	min-height: 53px;
}
.filter_name{
	width: 29%;
	text-align: center;
	padding: 16px 0;
	border-right:solid 1px #eee;
}
.filter_input{
	right: 0;
	width: 68%;
	text-align: center;
	color: #8f8f8f;
}
.filter_input input{
	max-width: 95%;
}
.filter_input .filter_action{
	background-image: url(../images/Plus_x_filtro.png);
	background-repeat: no-repeat;
	background-size: 30px 60px;
	width: 30px;
	height: 30px;
	top: 10px;
	right: 10px;
	position: absolute;
} 
#filtro .custom-input .ui-input-clear{
	background-image: url(../images/Plus_x_filtro.png);
	background-repeat: no-repeat;
	background-size: 30px 60px;
	width: 30px;
	height: 30px;
	top: 10px;
	right: 0px;
}
#filtro .custom-input .ui-input-clear .ui-icon{
	visibility: hidden;
}
#filtro .custom-input .ui-body-a{
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#filtro .ui-select .ui-btn {
	background: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}
#filtro .ui-select .ui-icon{
	visibility: hidden;
}
.field_filter{
	background: #fff;
	margin: 5px 0;
	font-size: 0.9em;
}
#confirmar_filtro .numerohoras{
	text-align: left;
}
.horas , .horas_operdador{
	display: inline-block;
	vertical-align: top;
	color: #8f8f8f;
}
.horas {
	border-right: 1px #eee solid;
	text-align: center;
	width: 40%;/*regla para responsive*/
}
.horas .horafinal{
	border-bottom: 1px solid #eee;
	padding: 4px 0;
	width: 100%;
	text-align: center;
}
.horas .totalhoras{
	padding: 4px 0;
}
.horas_operdador{
	margin: 0;
	padding: 0;
}
.horas_operdador li{
	background-image: url(../images/horasOperadores.png);
	background-size: 45px 90px;
	background-position:  0 5px;
	width: 52px;
	height: 52px;
	display: inline-block;

}
.horas_operdador li[data-value="menos"]{
	background-position: 0 100%;
	border-right: solid 1px #eee;
}
.techo ul{
	background: #fff;
	border-left: solid #eee 1px;
	text-align: left;
}
.techo ul li{
	background-image: url(../images/select_filtro.png);
	background-size: 35px 70px; 
	background-repeat: no-repeat;
	background-position: 98% 3px;
	display: block;
	padding: 10px 0 10px 10px;
}
.techo ul li:first-child{
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.techo ul li.selected{
	background-position: 98% 114%;
}
#price{
	position: fixed;
	display: block;
	text-align: justify;
	bottom: 0;
	padding: 10px 5px;
	width: 96%;
	background:#f5f5f5;
	color: #666;
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	border-top: 1px solid #999;
}
#price span{
	position: absolute;
	right: 20px;
}
#filtro_chat .aplicarfiltros{
	background: #ed1e79;
}
.ui-datebox-container{

}
/*#filtro .ui-datebox-container h1{
	background-color: #29abe2;
	padding: .6em 30% .8em;
	color: #fff;
	margin: 0;
}*/
#filtro .ui-datebox-container{
	
}
/*chat */
#chat{
	position: absolute;
	background: #eee;
	bottom: solid 4px #666;
	width: 100%;
	display: none;
}
/*cancha*/
.imagen{
	text-align: center;
}
#reserve{
	background: #45ff8b;
	color: #fff;
	display: block;
	text-align: center;
	padding: 5px 0;
	font-size: 1.2em;
	font-weight: bold;
}
#descripcion{}
#descripcion h3 a, #canchas h3 a, #horario h3 a, #amenities h3 a{
	color: #666;
}
#descripcion h3 a .ui-btn-inner, #canchas h3 a .ui-btn-inner, #horario h3 a .ui-btn-inner, #amenities h3 a .ui-btn-inner{
	padding: 5px 0 5px 5px;
}
#descripcion h3 a .ui-btn-inner .ui-icon, #canchas h3 a .ui-btn-inner .ui-icon, #horario h3 a .ui-btn-inner .ui-icon{
	display: block;
	width: 25px;
	height: 25px;
	background-position: 0 0;
	background-size: 25px;
	top: 40%;
	left: 97%;
}
#descripcion h3 a .ui-btn-inner .ui-icon{
	background-image: url(../images/descripcion_cancha.png);
}
#canchas h3 a .ui-btn-inner .ui-icon{
	background-image: url(../images/detalles_canchas.png);
} 
#horario h3 a .ui-btn-inner .ui-icon{
	background-image: url(../images/horarios.png);
}
#amenities h3 a .ui-btn-inner .ui-icon{
	top: 40%;
	left: 97%;
}
#descripcion .ui-collapsible-content, #canchas .ui-collapsible-content, #horario .ui-collapsible-content, #amenities .ui-collapsible-content{
	background: #fff;
}
#amenities ul li{
	margin: 0 0 0 0 10px;
	display: block;
	padding: 5px 0;
	text-transform: capitalize;
	border-bottom: solid 1px #999;
}
#amenities ul li.aviable{
	background-image: url(../images/check_amenities.png);
	background-position: 100% 0;
	background-size: 20px;
	background-repeat: no-repeat;
}
/*footer salir*/
footer.salir{
	background: #ec1c24 !important;
	text-align: center;
}
.salir a{
	color: #fff;
	font-weight: bold;
}
/* Fav list */
#lista_deseos .ui-icon, #custom .ui-icon{
	left: 90%;
}
#lista_deseos .ui-btn-inner, #custom .ui-btn-inner{
	padding-left: 10px;
	font-size: 0.9em;
	color: #22262b;
}
#field_fav{
	clear: both;
	overflow: hidden;
	background: #fff;
}
#field_fav .list_image{
	width: 120px;
	height: 90px;
}
#field_fav .list_image img{
	max-height: 90px;
}
#field_fav .list_info{
	max-width: 80%;
	font-size: 0.75em;
	padding: 5px 0;
}
#field_fav .list_info .name{
	font-size: 1.2em;

}
#field_fav .info{
	display: block;
	border-top: solid 1px #666;
	padding: 5px 0;
	margin: 5px 0 0;
}
#field_fav .info .location{
	background-image: url(../images/ubicacion.png);
	background-repeat: no-repeat;
	background-size: 23px;
	padding: 5px 0 10px 28px;
	display: inline-block;
	float: left;
	font-size: 1.2em;
	color: #999;
}
#field_fav .info .fav{
	background-image: url(../images/favorito_listadeseos.png);
	background-repeat: no-repeat;
	display: inline-block;
	float: right;
}
#field_fav .info .active{
	background-position: 0 100%;
}
/*End fav list*/
/*Inicio lista amigos*/
#fiends-list .image, #fiends-list .info{
	display: inline-block;
	vertical-align: middle;
}
.list_fiends ul{
	margin: 0;
	padding: 0;
}
.list_fiends li{
	display: block;
	position: relative;
	border-bottom: 1px solid #666;
	padding: 0;
	overflow: hidden;
	background: #fff;
}
.list_fiends #friend_chat{
	background-image: url(../images/mensaje.png);
	background-position: 10px 20px;
	background-size: 30px;
	width: 35px;
	height: 77px;
	background-repeat: no-repeat;
	border-left: solid 1px #999;
	padding: 0 5px;
	position: absolute;
	right: 0;
	top: 4px;
}
#friends_options{
	background-image: url(../images/accion_amigo.png);
	background-size: 26px 100px;
	background-repeat: no-repeat;
	border-left: solid 1px #999;
	width: 35px;
	height: 77px;
	position: absolute;
	top: 2px;
	right: 60px;
}
.list_fiends .add{
	background-position: 5px 20px;
}
.list_fiends .delete{
	background-position: 5px 180%;
}
#fiends-list{
	background: #fdfdfd;
	position: relative;
	z-index: 1;
	padding: 5px;
}
/*FIn lista de amigos*/

/*
 * Botones
 * Todos los botones utilizados en la aplicacion deberan ser
 * configurados a partir de este punto (Al finalizar el archivo css)
 */

a.btn_menu{
	display:inline-block;
	width: 23px;
	height: 23px;
	text-decoration: none;
	background: url(../img/btn/btn_menu_52x52.png) center no-repeat;
	background-size: 23px 23px;
}

a.btn_notification{
	display:inline-block;
	width: 24px;
	height: 24px;
	text-decoration: none;
	background: url(../img/btn/notificaciones_54x54.png) center no-repeat;
	background-size: 24px 24px;
}

