.headerEmpty{
	background-color:rgb(29, 31, 35); 
	position:absolute; 
	top:0px; 
	left:0px;
	width:100%; 
	z-index:2
}

.headerEmpty table{
	border-bottom:solid 1px rgb(77, 77, 77);
}

.imageEmpty{
	text-align:center; 
	position:absolute; 
	left:0px;
	width:100%
}

.headerEmpty table tr td:nth-child(1){
	width:10px; 
	padding-left:20px; 
	vertical-align:middle;
}

.headerEmpty table tr td:nth-child(2) p{
	font-size:26px; 
	color:.FFFFFF; 
	margin:9px 0px; 
	text-align:center; 
	font-weight:bold
}

.headerEmpty table tr td:nth-child(3){
	width:10px; 
	padding-right:20px;
}

.headerEmpty table tr td:nth-child(3) img{
	height:60%;
}

.contentEmpty p{
	margin:0px; margin-top:10px; font-size:26px; padding:0px 10px;
}

.ui-field-contain div.ui-slider-switch { width:500px; }