@charset "utf-8";
/* 
 * Squadrapp App
 * Inicialmente para el desarrollo en phonegap
 *
 * 
 * Lista de estilos:
 * 
 * JQuery Mobile	(Cambios en los estilos de jquery mobile)
 * fonta face		()
 * Globales			(Estilos para elementos presentes en toda la aplicacion)
 * Menu				(Menu principal, laterla izquierdo)
 * Chat				(Sección de chat)
 * 	Chat List		(Lista de las conversaciones que se han tenido por usuario)
 * 	Chat With		(Conversacion, lista de mensajes y envio de nuevos mensajes)
 * 
 * Botones			(Estilos para cada boton)
 * 
 * Libraries		(Estilos necesarios para librerias externas)
 * 	Swipe .swipe-wrape
 * 
 */

html, body {
	margin: 0; padding: 0; border: 0; outline: 0; text-decoration:none; height:100%; 
}
div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
	margin: 0; padding: 0; border: 0; outline: 0; text-decoration:none; position:relative; 
}

.corte { clear:both; }
.vacio { width: 100%;}

img{ display: none; }	/*	Se debe mostrar la imagen despues de cargarla */



/*
 * ------ JQuery Mobile --------
 * Sobreescribir estilos que estan teniendo conflictos con el diseño
 * de la aplicación.
 * 
 * */
  			
.ui-panel-inner{
	padding: 0;
	margin: 0;
}
body .ui-body-a, body .ui-overlay-a, body .ui-bar-a { 
	text-shadow:0 0 0; 
	background: #FFFFFF;
	background:#22262b;
} 
.ui-page { -webkit-backface-visibility: hidden; }
			
/*---- Fin JQuery Mobile ------*/



/*fonta face*/
@font-face {
    font-family: 'swansearegular';
    src: url('../fonts/swanse__-webfont.eot');
    src: url('../fonts/swanse__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swanse__-webfont.woff') format('woff'),
         url('../fonts/swanse__-webfont.ttf') format('truetype'),
         url('../fonts/swanse__-webfont.svg#swansearegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swanseabold';
    src: url('../fonts/swanse_b-webfont.eot');
    src: url('../fonts/swanse_b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swanse_b-webfont.woff') format('woff'),
         url('../fonts/swanse_b-webfont.ttf') format('truetype'),
         url('../fonts/swanse_b-webfont.svg#swanseabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swansea_italic';
    src: url('../fonts/swanse_i-webfont.eot');
    src: url('../fonts/swanse_i-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swanse_i-webfont.woff') format('woff'),
         url('../fonts/swanse_i-webfont.ttf') format('truetype'),
         url('../fonts/swanse_i-webfont.svg#swansea_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*---- Fin fonta face ------*/


/*Globales*/

body{
	font-family: 'swansearegular', Helvetica, Arial, sans-serif;
	overflow: hidden;
}
#header{
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	background: #f5f5f5;
	color: #22262b;
	text-align: center;
	display: block;
	padding: 11px 0;
	border-bottom: 2px solid #e2e2e2;
	z-index: 101;
	position: absolute;
	top: 0; left: 0; right: 0;
}
#header p{
	font-size: 16px;
}
#menu_icon{
	background: url(../img/btn/btn_menu_52x52.png) no-repeat center;
	background-size: 23px 23px;
	width: 50px;
	height: 40px;
	position: absolute;
	top:0;
	left:0;
	z-index: 1002;
}
#menu_icon:hover{
	background: url(../img/btn/btn_menu_52x52.png) no-repeat center;
	background-size: 23px 23px;
}

#buscar{background: url(../images/buscar_cancha.png) no-repeat 5px; background-size: 20px;}
#reservas{background: url(../images/reservas.png) no-repeat 5px; background-size: 20px;}
#solicitud{background: url(../images/solicitud_reserva.png) no-repeat 5px; background-size: 20px;}
#favoritos{background: url(../images/favoritos.png) no-repeat 5px; background-size: 20px;}
#amigos{background: url(../images/amigos_jugadores.png) no-repeat 5px; background-size: 20px;}
#otros{background: url(../images/amigos_jugadores.png) no-repeat 5px; background-size: 20px;}
#configuracion{background: url(../images/ajustes.png) no-repeat 5px; background-size: 20px;}

#footer{
	background: #f5f5f5;
	color: #22262b;
	height: 40px;
	border-top: solid 2px #e2e2e2; 
	position: absolute;
	bottom: 0; left: 0; right: 0;
	z-index: 101;
}

#loader-overlay{
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background: #23262b url(../img/icono_loading_page.png) center no-repeat;
	background-size: 44px 44px;
	z-index: 9999;
}


/*sin contenido*/
.null_content{
	display: block;
	margin: 80px auto;
	text-align: center;
}
.null_content img{
	width: 100px;
}
.null_content p{
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	color: #8f8f8f;
	margin: 10px;
}

/*	Backgraund para imagenes de usuario mientras carga la imagen correspondiente */
.user-image-60x60{
	background: url(../img/pic_men.png);
	background-size: 60px;
}
.user-image-36x36{
	background: url(../img/pic_men.png);
	background-size: 36px;
}
.user-image-70x70{
	background: url(../img/pic_men.png);
	background-size: 70px;
	height: 70px; width: 70px;
}

/*	Capa para cubrir contenido (Si es necesario para efecto de carga) */
.overlay{
	background: #fff;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	-khtml-opacity: 0.7;	
	opacity: 0.7;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	padding: 50px 0;
	text-align: center;
	z-index: 9999;
}


	#pages{
		z-index: 101;
	}
	#sider{
		background:#22262b;
		color: #fff;
		width: 266px;
		height: 500px;
		float: right;
	}
	#content {
		position:absolute;
		top:39px; bottom:40px; left:0;
		width:100%;
		background:#EEEEEE;
	}

	
/*---- Fin Globales ------*/


/* Menu */
#menu{
	background:#22262b;
	color: #fff;
	width: 266px;
}

#nav-user{
	border-bottom: solid 1px #4d4d4d;
	background:#22262b;
	position: fixed;
	top: 0; left: 0;
	width: 272px;
	height: 40px;
	z-index: 100;
}
#nav-content{
	margin: 40px 0 130px 0;
}
#nav-footer{
	border-top: solid 2px #4d4d4d;
	background:#22262b;
	position: fixed;
	bottom: 0; left: 0;
	width: 272px;
	height: 40px;
	z-index: 100;
}

#nav-user #notificaciones_icon{
	background: url(../img/btn/notificaciones_54x54.png) no-repeat center;
	background-size: 24px 24px;
	width: 40px;
	height: 40px;
	position: absolute;
	top:0;
	left:5px;
	z-index: 1002;
}
#nav-user #ajustes_icon{
	background: url(../img/btn/ajustes_54x54.png) no-repeat center;
	background-size: 24px 24px;
	width: 40px;
	height: 40px;
	position: absolute;
	top:0;
	right:15px;
	z-index: 1002;
}
#user-menu{
	border-bottom: solid 1px #4d4d4d;
	padding: 20px 0 20px 10px;
}
#user-menu .image{
	overflow: hidden;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	border: solid 1px #fff;
	display: inline-block;
	max-width: 70px;
	max-height: 70px;
	display: inline-block;
	vertical-align: middle;
}
#user-menu .image img{
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
#user-menu .info, #user-menu .arrow{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
#user-menu .info{
	font-size: 0.75em;
}
#user-menu .info p:first-child{
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}
#user-menu .arrow{
	background: url(../images/arrow_profile.png) no-repeat;
	background-size: 15px;
	width: 15px;
	height: 25px;
}
#user-menu .image img{
	width: 70px;
}
nav ul li a{
	color: #fff;
	padding: 10px 0 10px 30px;
	display: block;
	border-bottom: 1px solid #4d4d4d;
	position: relative;
	font-size: 0.85em;
}
nav ul li a span{
	position: absolute;
	right: 20px;
}

/*---- Fin Menu ------*/


/* Chat */

#chat_icon{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -25px;
	z-index: 1002;
}
.chat-open{
	background: url(../img/btn/btn_max_chat_130x130.png) no-repeat;
	background-size: 50px;
}
.chat-close{
	background: url(../img/btn/btn_min_chat_130x130.png) no-repeat;
	background-size: 50px;
}

#chat_section{
	position: fixed;
	background: #fff;
	bottom: 0;
	width: 100%;
	overflow: auto;
	z-index: 1001;
	overflow: hidden;
}

/* Inicialmente solo en conversaciones 
 * Revisar estilos Chat With
 * */
#new-message{
	position: fixed;
	background: #fff;
	bottom: 0;
	width: 100%;
	z-index: 2000;
}
/*	----------------------------------	*/

.chat{
		overflow: hidden;
		  visibility: hidden;
		  position: relative;
	}

#chat-bg{
	position: absolute;
	background: #000;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	-khtml-opacity: 0.7;	
	opacity: 0.7;
	bottom: 0;
	width: 100%;
	z-index: 1000;
}
#chat_icon .arrow{
	background: url(../img/arrow_52x52.png) no-repeat;
	background-size: 23px;
	width: 23px;
	height: 23px;
	position: absolute;
	top: 48px;
	left: 50%;
	margin-left: -12px;
	z-index: 1002;
	display: none;
}

/*	Chat List */
#chat-list .header{
	background: #f5f5f5;
	height: 30px;
	border-bottom: 1px solid #DDDDDD;
	padding: 3px 8px 11px;
	z-index: 100;
	text-align: right;
}
#chat-list .header ul{
	list-style: none;
}
#chat-list .header ul li{
    outline: #d3d3d3 1px solid;
	float:left;
	width: 50%;
	text-align: center;
	line-height: 50px;
	color: #8f8f8f;
	font-weight: bold;
	font-size: 14px;
}

#scroll-list-chats{
		position:absolute;
		top:45px; bottom:0; left:0;
		width:100%;
		background:#fff;
		z-index: 9999;
}

#list-chats .item{
	position: relative;
	height: 90px;
}
#list-chats .item .talker{
	position: absolute;
	top; 0; left: 0; right: 0;
	height: 80px;
	padding: 5px 10px 5px 15px;
	border-bottom: #ccc 1px solid;
	font-family: Arial, Helvetica, sans-serif;
}
#list-chats .item .talker .talker-info{
	height: 60px;
	padding: 10px 0;
}
#list-chats .item .talker .online{
	background: url(../img/conectado.png) no-repeat top right;
	background-size: 10px 10px;
}
#list-chats .item .talker .talker-info img{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
#list-chats .item .talker .talker-info .image{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	float: left;
	width: 60px;
	height: 60px;
}
#list-chats .item .talker .talker-info .content{
	float: left;
	margin: 0 15px 0 15px;
	color: #8f8f8f;
	font-size: 14px;
	line-height: 16px;
	padding: 11px 0;
}
#list-chats .item .talker .talker-info .content .nfriends{
	color: #aaaaaa;
	font-size: 12px;
	font-weight: lighter;
	margin-top: -5px;
}
#list-chats .item .talker .talker-info .content h3{
	font-weight: bold;
}
#list-chats .item .talker .talker-info .date{
	background: url(../img/arrow_25x30.png) no-repeat center right;
	background-size: 11px 13px;
	position: absolute;
	top: 5px; right: 10px;
	font-size: 13px;
	color: #8f8f8f;
	padding: 0 15px 0 0;
}

#list-chats .item .remove{
	border-left: #ccc 1px solid;
	border-top: #ccc 1px solid;
	width: 56px;
	position: absolute;
	top: 0; bottom: 0; right: 0;
	background: #f5f5f5;
}
/*---	Fin Chat List	---*/

/*	Chat With */
#chat-with .header{
	background: #f5f5f5;
	height: 30px;
	border-bottom: 1px solid #DDDDDD;
	padding: 3px 8px 11px;
	z-index: 100;
	text-align: right;
}

#chat-with .header .title{
	text-align: left;
	padding: 14px 50px;
	color: #222;
	font-weight: bold;
	font-size: 16px;
}

#chat-with .header #match_icon{
	background: url(../img/btn/btn_match_82x82.png) no-repeat center;
	background-size: 36px 36px;
	width: 45px;
	height: 45px;
	position: absolute;
	top:0;
	right: 50px;
	z-index: 1002;
}

#chat-with .header .chat_icon{
	width: 36px;
	height: 36px;
	position: absolute;
	top:5px;
	right: 5px;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
	z-index: 1002;
}

#chat-with .header .chat_icon img{
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
}

#scroll-chatwith{
		position:absolute;
		top:46px; bottom:40px; left:0;
		width:100%;
		background:#fff;
}

#list-messages{
	font-size: 12px;
}

#list-messages .me{
	text-align: right;
	margin: 10px;
}
#list-messages .me .date, #list-messages .friend .date{
	color: #a0a0a0;
}
#list-messages .me .date{
	margin-right: 10px;
}
#list-messages .me .message{
	max-width: 70%;
	min-width: 200px;
	background: #29ABE2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
#list-messages .me .message .arrow{
	background-image: url(../img/message_blue_arrow.png);
	background-size: 14px 17px; 
	background-repeat: no-repeat;
	width: 14px;
	height: 17px;
	position: absolute;
	top: 10px; right: -12px;
}
#list-messages .me .message .user{
	padding: 3px 5px;
	font-size: 12px;
	font-weight: bold;
}
#list-messages .me .message .text{
	padding: 5px;
	font-size: 17px;
}

#list-messages .friend{
	text-align: left;
	margin: 15px 10px;
}
#list-messages .friend .image{
	width: 36px;
	height: 36px;
	background: url(../img/pic_men.png);
	background-size: 36px;
	display: inline-block;
}
#list-messages .friend .image img{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#list-messages .friend .date{
	margin-left: 50px;
}
#list-messages .friend .message{
	max-width: 80%;
	min-width: 200px;
	background: #E6E5EA;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	color: #1F2934;
	margin-left: 13px;
}
#list-messages .friend .message .arrow{
	background-image: url(../img/message_grey_arrow.png);
	background-size: 14px 17px; 
	background-repeat: no-repeat;
	width: 14px;
	height: 17px;
	position: absolute;
	top: 10px; left: -12px;
}
#list-messages .friend .message .user{
	padding: 3px 5px;
	font-weight: bold;
	font-size: 12px;
}
#list-messages .friend .message .text{
	padding: 5px;
	font-size: 17px;
}

#message-form{
	position: fixed;
	bottom: 0; left: 0; right: 0;
	background: #f7f7f7;
	border-top: #eaeaea 1px solid;
	height: 42px;
	z-index: 100;
}

#message-form form{
	height: 42px;
	text-align: right;
}
#message-form .fcontainer {
	position: absolute;
	top: 4px;
	bottom: 4px;
	right: 90px;
	left: 5px;
}
#message-form .fcontainer .field{
	background: #fff;
	padding: 5px;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px #eaeaea solid;
	color: #333333;
}

#message-form form button{
	border: 0;
	margin: 0;
	height: 100%;
	background: #f7f7f7;
	color: #989898;
	font-weight: bold;
	font-size: 14px;
	padding: 0 15px;
}

/*	Group info */
#group-info{
	height: 100%;
}
#group-info .header{
	background: #f5f5f5;
	height: 30px;
	border-bottom: 1px solid #DDDDDD;
	padding: 3px 8px 11px;
	z-index: 100;
	text-align: right;
}
#group-info .header .title{
	text-align: right;
	padding: 10px;
	color: #222;
	font-weight: bold;
	font-size: 16px;
}
#group-info .group-name{
	background: #f5f5f5;
	height: 16px;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px 25px;
	z-index: 100;
	text-align: left;
	color: #D3D3D3;
	font-size: 14px;
}
#group-info .nav{
	background: #fff url(../img/grey_line.png) repeat-y center;
	border-bottom: #DDDDDD 1px solid;
}
#group-info .nav ul{
	list-style: none;
}
#group-info .nav ul li{
	list-style: none;
	width: 49%;
	height: 40px;
	display: inline-block;
	text-align: center;
	font-size: 12px;
}
#group-info .nav ul li a{
	position:absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	padding: 15px 0;
	color: #999;
}

#group-users-content{
	position: absolute;
	bottom: 0; top: 130px;
	width: 100%;
}

#group-info .group-users ul .friend{
	padding: 12px 20px;
	border-bottom: #DDD 1px solid;
}
#group-info .group-users ul .friend .image{
	float: left;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#group-info .group-users ul .friend .image img{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#group-info .group-users ul .friend .name{
	color: #888888;
    float: left;
    font-weight: bold;
    margin: 5px 15px;
}
#group-info .group-users ul .friend .name .admin_title{
	color: #AAAAAA;
	font-size: 11px;
	font-weight: lighter;
	display: block;
}


/*	New Message */
#new-message .header{
	background: #f5f5f5;
	height: 30px;
	border-bottom: 1px solid #DDDDDD;
	padding: 3px 8px 11px;
	z-index: 100;
	text-align: right;
}

#new-message .header .cancel{
	position: absolute;
	top: 0; bottom: 0; left: 0;
	padding: 16px;
	color: #8f8f8f;
	font-size: 10px;
	z-index: 100;
}
#new-message .header .title{
	text-align: center;
	font-size: 16px;
	color: #121212;
	padding: 12px;
	font-weight: bold;
}

#new-message .members{
	background: #fff;
	border-bottom: #ccc 1px solid;
	max-height: 100px;
}
#new-message .members .label{
	color: #999999;
	font-size: 13px;
	padding: 14px 10px;
	float: left;
}
#new-message .members .members-input{
	color: #555;
	font-size: 14px;
	border: 0;
	min-height: 13px;
	max-height: 90px;
	padding: 13px 0;
	margin: 0;
	float: left;
}
#members-input{
	max-height: 90px;
	padding: 0;
	margin: 0;
	position: static;
}
#members-input-content{
}
#new-message .members .members-input .input-span{
	margin: 0;
}
#new-message .members .members-input .selected{
	display: inline-block;
	background: #a7e1c7;
	color: #58605c;
	padding: 5px 10px;
	margin: 2px 5px;
}


#new-message .header-list{
	color: #777777;
    font-size: 13px;
    height: 20px;
    padding: 10px;
    text-align: center
}
#new-message .local-list{
	
}
#new-message .local-list .header{
	color: #777777;
    font-size: 13px;
    height: 20px;
    padding: 10px;
    text-align: center
}

#new-message .local-list .current-list{
	position: fixed;
	top: 85px;
	left: 0;
	width: 100%;
}

#new-message .local-list ul{
	
}
#new-message .local-list ul li{
	
}
#new-message .local-list .friend{
	padding: 10px;
	border-bottom: #DDD 1px solid;
}
#new-message .local-list .friend .image{
	float: left;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#new-message .local-list .friend .image img{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#new-message .local-list .friend .name{
	color: #888888;
    float: left;
    font-weight: bold;
    margin: 8px 15px;
}
#new-message .local-list .friend .check{
	background-image: url(../img/select_filtro.png);
	background-size: 35px 70px; 
	background-repeat: no-repeat;
	display: block;
	padding: 5px 0 5px 10px;
	float: right;
	width: 25px;
	height: 25px;
	margin: 0 5px 0 0;
	cursor: pointer;
}
#new-message .local-list .friend .selected{
 	background-position: 0 100%;
 }

#new-message .world-list{
	
}
#new-message .world-list .header{
	color: #777777;
    font-size: 13px;
    height: 20px;
    padding: 10px;
    text-align: center
}
#new-message .world-list .current-list{
	position: fixed;
	top: 85px;
	left: 0;
	width: 100%;
}
#new-message .world-list ul{
	
}
#new-message .world-list ul li{
	
}
#new-message .world-list .friend{
	padding: 10px;
	border-bottom: #DDD 1px solid;
}
#new-message .world-list .friend .image{
	float: left;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#new-message .world-list .friend .image img{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#new-message .world-list .friend .info{
	color: #888888;
    float: left;
    margin: 0 15px;
}
#new-message .world-list .friend .info .name{
	color: #888888;
    font-weight: bold;
}
#new-message .world-list .friend .info .location{
	color: #888888;
	font-size: 12px;
	font-weight: lighter;
}
#new-message .world-list .friend .check{
	background-image: url(../img/select_filtro.png);
	background-size: 35px 70px; 
	background-repeat: no-repeat;
	display: block;
	padding: 5px 0 5px 10px;
	float: right;
	width: 25px;
	height: 25px;
	margin: 0 5px 0 0;
	cursor: pointer;
}
#new-message .world-list .friend .selected{
 	background-position: 0 100%;
 }
 


/*---	Fin Chat With	---*/

/* Capa para cubrir todo el chat (Si es necesario para efecto de carga) */
.overlay_chat{
	background: #fff;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	-khtml-opacity: 0.7;	
	opacity: 0.7;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	padding: 50px 0;
	text-align: center;
}

/*---	Fin Chat	---*/


/*	Fields	*/

/*	Fields List	*/
#scroll-list-fields{
	
}
#scroll-list-fields .count_result{
	font-size: 13px;
	padding: 3px;
	text-align: center;
	color: #777777;
	background: #f5f5f5;
	border-bottom: 1px solid #e2e2e2;
}
#scroll-list-fields .big_photos{
	padding: 0 0 20px 0;
}
#scroll-list-fields .big_photos li{
	background: #FFFFFF;
	border: 1px solid #EAEAEA;
	position: relative;
	display: block;
	margin: 5px 10px;
}
#scroll-list-fields .big_photos li .imagen{
	overflow: hidden;
	background: #333;
	text-align: center;
}
#scroll-list-fields .big_photos li .imagen img{
	max-width: 100%;
	margin: 0 auto;
}
#scroll-list-fields .distance, .fav{
	position: absolute;
	color: #fff;
	z-index: 1;
	padding: 8px 0 5px 33px;
	font-size: 0.85em;
	margin: 0 5px 0;
}
#scroll-list-fields .distance{
	background: url(../images/ubicacion_mapa_cancha.png) no-repeat 2px 10px;
	background-size: 25px;
}
#scroll-list-fields .distance p {
	font-size: 12px;
	line-height: 13px;
}
#scroll-list-fields .fav{
	background-image: url(../images/favoritos.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 30px 60px;
	width: 30px;
	height: 30px;
	right: 10px;
	top: 10px;
	opacity:0.6;
	padding: 0;
}
#scroll-list-fields .fav:hover{
	background-position: 0 100%;
}
#scroll-list-fields .info{
	display: block;
	font-size: 0.8em;
	color: #666;
	position: relative;
	padding: 5px 10px 10px;
}
#scroll-list-fields .basic{
	margin: 0;
	width: 72%;
}
#scroll-list-fields .basic , #scroll-list-fields .cost{
	display: inline-block;
}
#scroll-list-fields .basic #name{
	font-size: 1.2em;
}
#scroll-list-fields .basic .location_info{
	font-size: 12px;
	line-height: 13px;
	color: #999999;
}
#scroll-list-fields .cost{
	text-align: right;
	position: absolute;
	right: 10px;
}
#scroll-list-fields .cost p{
	font-size: 12px;
	line-height: 13px;
	color: #777777;
}
#scroll-list-fields .cost #value{
	font-size: 18px;
	line-height: 20px;
	color: #666666;
}

/* Navegacion inferior */
#list-fields-nav{
	display: block;
}
#list-fields-nav a{
	color: #666;
	display: block;
	float: left;
	width: 49%;
	text-align: center;
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	padding: 10px 0;
}
#list-fields-nav a:hover{
	color: #22b473;
}
#list-fields-nav a.selected{
	color: #22b473;
}
#list-fields-nav a:first-child{
	border-right: 2px #e2e2e2 solid;
}

/* buscador */
.search-fields{
	background: #f5f5f5;
	color: #22262b;
	text-align: center;
	display: block;
	padding: 5px 5px 0 5px;
	border-bottom: 1px solid #e2e2e2;
}
.search-fields .cancel{
	position: absolute;
	top: 0; right: 0;
	padding: 8px 15px;
	font-size: 13px;
	color: #929292;
	font-weight: bold;
	text-align: center;
}
.search-fields-input{
	margin: 5px 27px 5px 0;
}
#find-fields{
	background: #fff url(../img/search_54x54.png) no-repeat center right;
	background-size: 25px;
	border: solid 1px #e2e2e2;
	border-radius: 3px;
	margin: 0;
	font-size: 14px;
	padding: 5px 20px 5px 5px;
	width: 100%;
}
/*---	Fin Fields List	---*/
/*---	Fin Fields	---*/


/*
 * Botones
 * Todos los botones utilizados en la aplicacion deberan ser
 * configurados a partir de este punto (Al finalizar el archivo css)
 */

#back_icon{
	background: url(../img/btn/btn_back_54x54.png) no-repeat center;
	background-size: 23px 23px;
	width: 45px;
	height: 45px;
	position: absolute;
	top:0;
	left:0;
	z-index: 1002;
}

a.btn_menu{
	display:inline-block;
	width: 23px;
	height: 23px;
	text-decoration: none;
	background: url(../img/btn/btn_menu_52x52.png) center no-repeat;
	background-size: 23px 23px;
}

a.btn_notification{
	display:inline-block;
	width: 24px;
	height: 24px;
	text-decoration: none;
	background: url(../img/btn/notificaciones_54x54.png) center no-repeat;
	background-size: 24px 24px;
}

a.btn_back{
	display:inline-block;
	width: 23px;
	height: 23px;
	text-decoration: none;
	background: url(../img/btn/btn_back_54x54.png) center no-repeat;
	background-size: 23px 23px;
}

a.btn_new_msj_35x35{
	display:inline-block;
	width: 35px;
	height: 35px;
	text-decoration: none;
	background: url(../img/btn/btn_new_msj_78x78.png) center no-repeat;
	background-size: 35px 35px;
}

/*---	Fin Botones		---*/

/* Map */
#map{
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	z-index: -1;
}


/* Libraries */

	/* Swipe .swipe-wrape */
	.swipe-wrap {
	  overflow: hidden;
	  position: relative;
	  padding: 0;
	  margin: 0;
	}
	.swipe-wrap > div {
	  float:left;
	  position: relative;
	  padding: 0;
	  margin: 0;
	  overflow: hidden;
	}
	/*---	Fin Swipe	---*/

/*---	Fin Libraries	---*/
