@charset "utf-8";
/* 
 * Squadrapp App
 * Inicialmente para el desarrollo en phonegap
 *
 * 
 */
html, body {
	margin: 0; padding: 0; border: 0; outline: 0; text-decoration:none; height:100%; 
}
div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
	margin: 0; padding: 0; border: 0; outline: 0; text-decoration:none; position:relative; 
}

.corte { clear:both; }
.vacio { width: 100%;}

img{ display: none; }

/*
 * ------ JQuery Mobile --------
 * Sobreescribir estilos que estan teniendo conflictos con el diseño
 * de la aplicación.
 * 
 * */
  			
.ui-panel-inner{
	padding: 0;
	margin: 0;
}
body .ui-body-a, body .ui-overlay-a, body .ui-bar-a { 
	text-shadow:0 0 0; 
	background: #FFFFFF;
	background:#22262b;
} 
.ui-page { -webkit-backface-visibility: hidden; }
			
/*---- Fin JQuery Mobile ------*/
/*fonta face*/
@font-face {
    font-family: 'swansearegular';
    src: url('../fonts/swanse__-webfont.eot');
    src: url('../fonts/swanse__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swanse__-webfont.woff') format('woff'),
         url('../fonts/swanse__-webfont.ttf') format('truetype'),
         url('../fonts/swanse__-webfont.svg#swansearegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swanseabold';
    src: url('../fonts/swanse_b-webfont.eot');
    src: url('../fonts/swanse_b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swanse_b-webfont.woff') format('woff'),
         url('../fonts/swanse_b-webfont.ttf') format('truetype'),
         url('../fonts/swanse_b-webfont.svg#swanseabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swansea_italic';
    src: url('../fonts/swanse_i-webfont.eot');
    src: url('../fonts/swanse_i-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swanse_i-webfont.woff') format('woff'),
         url('../fonts/swanse_i-webfont.ttf') format('truetype'),
         url('../fonts/swanse_i-webfont.svg#swansea_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Globales*/

body{
	font-family: 'swansearegular', Helvetica, Arial, sans-serif;
	overflow: hidden;
}
#header{
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	background: #f5f5f5;
	color: #22262b;
	text-align: center;
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #666;
	z-index: 100;
	position: absolute;
	top: 0; left: 0; right: 0;
}
#menu_icon{
	background: url(../img/btn/btn_menu_52x52.png) no-repeat center;
	background-size: 23px 23px;
	width: 40px;
	height: 40px;
	position: absolute;
	top:0;
	left:0;
	z-index: 1002;
}
#menu_icon:hover{
	background: url(../img/btn/btn_menu_52x52.png) no-repeat center;
	background-size: 23px 23px;
}
#menu{
	background:#22262b;
	color: #fff;
	width: 266px;
	float: left;
}

#nav-user{
	border-bottom: solid 1px #4d4d4d;
	background:#22262b;
	position: fixed;
	top: 0; left: 0;
	width: 272px;
	height: 38px;
	z-index: 100;
}
#nav-content{
	margin: 40px 0 130px 0;
}
#nav-footer{
	border-top: solid 1px #4d4d4d;
	background:#22262b;
	position: fixed;
	bottom: 0; left: 0;
	width: 272px;
	height: 40px;
	z-index: 100;
}

#nav-user #notificaciones_icon{
	background: url(../img/btn/notificaciones_54x54.png) no-repeat center;
	background-size: 24px 24px;
	width: 40px;
	height: 40px;
	position: absolute;
	top:0;
	left:5px;
	z-index: 1002;
}
#nav-user #ajustes_icon{
	background: url(../img/btn/ajustes_54x54.png) no-repeat center;
	background-size: 24px 24px;
	width: 40px;
	height: 40px;
	position: absolute;
	top:0;
	right:15px;
	z-index: 1002;
}
#user-menu{
	border-bottom: solid 1px #4d4d4d;
	padding: 20px 0 20px 10px;
}
#user-menu .image{
	overflow: hidden;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	border: solid 1px #fff;
	display: inline-block;
	max-width: 70px;
	max-height: 70px;
	display: inline-block;
	vertical-align: middle;
}
#user-menu .image img{
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
#user-menu .info, #user-menu .arrow{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
#user-menu .info{
	font-size: 0.75em;
}
#user-menu .info p:first-child{
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}
#user-menu .arrow{
	background: url(../images/arrow_profile.png) no-repeat;
	background-size: 15px;
	width: 15px;
	height: 25px;
}
#user-menu .image img{
	width: 70px;
}
nav ul li a{
	color: #fff;
	padding: 10px 0 10px 30px;
	display: block;
	border-bottom: 1px solid #4d4d4d;
	position: relative;
	font-size: 0.85em;
}
nav ul li a span{
	position: absolute;
	right: 20px;
}
#buscar{background: url(../images/buscar_cancha.png) no-repeat 5px; background-size: 20px;}
#reservas{background: url(../images/reservas.png) no-repeat 5px; background-size: 20px;}
#solicitud{background: url(../images/solicitud_reserva.png) no-repeat 5px; background-size: 20px;}
#favoritos{background: url(../images/favoritos.png) no-repeat 5px; background-size: 20px;}
#amigos{background: url(../images/amigos_jugadores.png) no-repeat 5px; background-size: 20px;}
#otros{background: url(../images/amigos_jugadores.png) no-repeat 5px; background-size: 20px;}
#configuracion{background: url(../images/ajustes.png) no-repeat 5px; background-size: 20px;}
#footer{
	background: #f5f5f5;
	color: #22262b;
	height: 40px;
	border-top: solid 1px #666; 
	position: absolute;
	bottom: 0; left: 0; right: 0;
}
#chat_icon{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -25px;
	z-index: 1002;
}
.chat-open{
	background: url(../img/btn/btn_max_chat_130x130.png) no-repeat;
	background-size: 50px;
}
.chat-close{
	background: url(../img/btn/btn_min_chat_130x130.png) no-repeat;
	background-size: 50px;
}
/*sin contenido*/
.null_content{
	display: block;
	margin: 80px auto;
	text-align: center;
}
.null_content img{
	width: 100px;
}
.null_content p{
	font-family: 'swanseabold', Helvetica, Arial, sans-serif;
	color: #8f8f8f;
	margin: 10px;
}
/*chat */
#chat_section{
	position: absolute;
	background: #fff;
	bottom: 0;
	width: 100%;
	overflow: auto;
	z-index: 1001;
	overflow: hidden;
}
#chat-bg{
	position: absolute;
	background: #000;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	-khtml-opacity: 0.7;	
	opacity: 0.7;
	bottom: 0;
	width: 100%;
	z-index: 1000;
}
#chat_icon .arrow{
	background: url(../img/arrow_52x52.png) no-repeat;
	background-size: 23px;
	width: 23px;
	height: 23px;
	position: absolute;
	top: 48px;
	left: 50%;
	margin-left: -12px;
	z-index: 1002;
	display: none;
}


#chat-list .header{
	background: #f5f5f5;
	height: 50px;
	box-shadow: 0 5px 5px -5px #333;
	z-index: 100;
}
#chat-list .header ul{
	list-style: none;
}
#chat-list .header ul li{
    outline: #d3d3d3 1px solid;
	float:left;
	width: 50%;
	text-align: center;
	line-height: 50px;
	color: #8f8f8f;
	font-weight: bold;
	font-size: 14px;
}

#scroll-list-chats{
		position:absolute;
		top:51px; bottom:0; left:0;
		width:100%;
		background:#fff;
}

#list-chats .talker{
	position: relative;
	height: 60px;
	padding: 15px;
	border-bottom: #ccc 1px solid;
	font-family: Arial, Helvetica, sans-serif;
}
#list-chats .talker img{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
#list-chats .talker .image{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	float: left;
	width: 60px;
	height: 60px;
}
#list-chats .talker .content{
	float: left;
	margin: 0 15px;
	color: #8f8f8f;
	font-size: 14px;
	line-height: 16px;
	padding: 11px 0;
}
#list-chats .talker .content h3{
	font-weight: bold;
}
#list-chats .talker .date{
	background: url(../img/arrow_25x30.png) no-repeat center right;
	background-size: 11px 13px;
	position: absolute;
	top: 15px; right: 15px;
	font-size: 13px;
	color: #8f8f8f;
	padding: 0 15px 0 0;
}

#chat-with .header{
	background: #f5f5f5;
	border-bottom; #d3d3d3 1px solid;
	height: 45px;
	box-shadow: 0 5px 5px -5px #333;
	text-align: center;
	z-index: 100;
}

#chat-with .header .title{
	text-align: left;
	padding: 14px 50px;
	color: #8b8b8b;
	font-weight: bold;
	font-size: 16px;
}
#back_icon{
	background: url(../img/btn/btn_back_54x54.png) no-repeat center;
	background-size: 23px 23px;
	width: 45px;
	height: 45px;
	position: absolute;
	top:0;
	left:0;
	z-index: 1002;
}

#chat-with .header #match_icon{
	background: url(../img/btn/btn_match_82x82.png) no-repeat center;
	background-size: 36px 36px;
	width: 45px;
	height: 45px;
	position: absolute;
	top:0;
	right: 50px;
	z-index: 1002;
}

#chat-with .header .chat_icon{
	width: 36px;
	height: 36px;
	position: absolute;
	top:5px;
	right: 5px;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
	z-index: 1002;
}

#chat-with .header .chat_icon img{
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
}

#scroll-chatwith{
		position:absolute;
		top:46px; bottom:0; left:0;
		width:100%;
		background:#fff;
}

#list-messages{
	font-size: 12px;
}

#list-messages .me{
	text-align: right;
	margin: 10px;
}
#list-messages .me .date, #list-messages .friend .date{
	color: #a0a0a0;
}
#list-messages .me .message{
	max-width: 80%;
	min-width: 200px;
	background: #22b573;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	color: #fff;
}
#list-messages .me .message .user{
	padding: 3px 5px;
	border-bottom: #6cd9a8 1px solid;
	font-weight: bold;
}
#list-messages .me .message .text{
	padding: 5px;
	font-size: 16px;
}

#list-messages .friend{
	text-align: left;
	margin: 15px 10px;
}
#list-messages .friend .message{
	max-width: 80%;
	min-width: 200px;
	background: #f5f5f5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	color: #8c8c8c;
}
#list-messages .friend .message .user{
	padding: 3px 5px;
	border-bottom: #e4e4e4 1px solid;
	font-weight: bold;
}
#list-messages .friend .message .text{
	padding: 5px;
	font-size: 16px;
}



.user-image-60x60{
	background: url(../img/pic_men.png);
	background-size: 60px;
}
.user-image-36x36{
	background: url(../img/pic_men.png);
	background-size: 36px;
}
.user-image-70x70{
	background: url(../img/pic_men.png);
	background-size: 70px;
	height: 70px; width: 70px;
}

.overlay_chat{
	background: #fff;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	-khtml-opacity: 0.7;	
	opacity: 0.7;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	padding: 50px 0;
	text-align: center;
}

.overlay{
	background: #fff;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	-khtml-opacity: 0.7;	
	opacity: 0.7;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	padding: 50px 0;
	text-align: center;
	z-index: 9999;
}


/*
 * Botones
 * Todos los botones utilizados en la aplicacion deberan ser
 * configurados a partir de este punto (Al finalizar el archivo css)
 */

a.btn_menu{
	display:inline-block;
	width: 23px;
	height: 23px;
	text-decoration: none;
	background: url(../img/btn/btn_menu_52x52.png) center no-repeat;
	background-size: 23px 23px;
}

a.btn_notification{
	display:inline-block;
	width: 24px;
	height: 24px;
	text-decoration: none;
	background: url(../img/btn/notificaciones_54x54.png) center no-repeat;
	background-size: 24px 24px;
}

a.btn_back{
	display:inline-block;
	width: 23px;
	height: 23px;
	text-decoration: none;
	background: url(../img/btn/btn_back_54x54.png) center no-repeat;
	background-size: 23px 23px;
}

	
	
	#scrollbar_main_content {  }
	#scrollbar_main_content .viewport { height: 100%; overflow: hidden; position: relative; }
    #scrollbar_main_content .overview { list-style: none; position: absolute; left: 0; top: 0; }
    #scrollbar_main_content .thumb .end,
    #scrollbar_main_content .thumb { background-color: #ccc; border-radius: 5px; display: none;}
    #scrollbar_main_content .scrollbar { position: relative; float: right; width: 13px; display: none; }
    #scrollbar_main_content .track { height: 100%; width:10px; position: relative; padding: 0 1px; display: none; }
    #scrollbar_main_content .thumb { height: 10px; width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 20px; }
    #scrollbar_main_content .thumb .end { overflow: hidden; height: 5px; width: 7px; }
    #scrollbar_main_content .disable{ display: none; }
	
	.scrollbar_chat_section {}
    .scrollbar_chat_section .viewport { height: 100%; overflow: hidden; position: relative; }
    .scrollbar_chat_section .overview { list-style: none; position: absolute; left: 0; top: 0; right: 0; }
    .scrollbar_chat_section .thumb .end,
    .scrollbar_chat_section .thumb { background-color: #ccc; border-radius: 5px; }
    .scrollbar_chat_section .scrollbar { position: absolute; top: 0; bottom: 0; right:0; width: 5px; }
    .scrollbar_chat_section .track { height: 100%; width:5px; position: relative; padding: 0; }
    .scrollbar_chat_section .thumb { height: 10px; width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 20px; }
    .scrollbar_chat_section .thumb .end { overflow: hidden; height: 5px; width: 5px; }
    .scrollbar_chat_section .disable{ display: none; }
    
    .scrollbar_chatwith_section {}
    .scrollbar_chatwith_section .viewport { height: 100%; overflow: hidden; position: relative; }
    .scrollbar_chatwith_section .overview { list-style: none; position: absolute; left: 0; top: 0; right: 0; }
    .scrollbar_chatwith_section .thumb .end,
    .scrollbar_chatwith_section .thumb { background-color: #ccc; border-radius: 5px; }
    .scrollbar_chatwith_section .scrollbar { position: absolute; top: 0; bottom: 0; right:0; width: 5px; }
    .scrollbar_chatwith_section .track { height: 100%; width:5px; position: relative; padding: 0; }
    .scrollbar_chatwith_section .thumb { height: 10px; width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 20px; }
    .scrollbar_chatwith_section .thumb .end { overflow: hidden; height: 5px; width: 5px; }
    .scrollbar_chatwith_section .disable{ display: none; }
    
    #scrollbar_menu {  }
    #scrollbar_menu .viewport { height: 100%; overflow: hidden; position: relative; }
    #scrollbar_menu .overview { list-style: none; position: absolute; left: 0; top: 0; right: 0; }
    #scrollbar_menu .thumb .end,
    #scrollbar_menu .thumb { background-color: #ccc; border-radius: 5px; display: none; }
    #scrollbar_menu .scrollbar { position: relative; float: right; width: 13px; display: none; }
    #scrollbar_menu .track { height: 100%; width:10px; position: relative; padding: 0 1px; display: none; }
    #scrollbar_menu .thumb { height: 10px; width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 20px; }
    #scrollbar_menu .thumb .end { overflow: hidden; height: 5px; width: 7px; }
    #scrollbar_menu .disable{ display: none; }




	#pages{
		z-index: 101;
	}
	#sider{
		background:#22262b;
		color: #fff;
		width: 266px;
		height: 500px;
		float: right;
	}
	
	#content {
		position:absolute;
		top:39px; bottom:40px; left:0;
		width:100%;
		background:#fff;
	}



	.chat{
		overflow: hidden;
		  visibility: hidden;
		  position: relative;
	}
	.swipe-wrap {
	  overflow: hidden;
	  position: relative;
	  padding: 0;
	  margin: 0;
	}
	.swipe-wrap > div {
	  float:left;
	  position: relative;
	  padding: 0;
	  margin: 0;
	  overflow: hidden;
	}